.Entry {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  height: fit-content;
}

.Description {
  display: flex;
  flex-direction: column;

  max-height: 0px;
  padding-left: 20px;

  transition: max-height 0.2s ease-out;
}

.Description .DescriptionContent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 10px;
  padding-bottom: 15px;
  padding-top: 2px;

  opacity: 0;
  visibility: hidden;
  transition: opacity 0.2s ease-out, visibility 0.2s ease-out;
}

.Entry.expanded .DescriptionContent {
  opacity: 1;
  visibility: visible;
  transition-delay: 0.2s;
}

.Description .DescriptionContent p {
  margin: 0px !important;
  padding: 0px !important;
}

.Description .Link {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 4px;
}

.Entry .Title {
  width: 100%;
  height: 25px;
  cursor: pointer;
  gap: 5px;

  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;

  transition: gap 0.2s ease-out;
}

.Entry .Title:hover {
  gap: 8px;
}

.Entry.expanded .Description {
  max-height: 100px;
}
